.contacts 
    a.contact(href="tel:+380689999999")
        img.contact__icon(src="../../images/icons/phone.svg")
        span.contact__text 3333 4444

    a.contact(href="mailto:info@business.com")
        img.contact__icon(src="../../images/icons/envelope.svg")
        span.contact__text info@business.com

    a.facebook-icon(href="facebook.com")
        img(src="../../images/icons/facebook.svg")
