nav.nav 
    a.nav__link.nav__link--active(href='#header-section' data-link=header) Home
    a.nav__link(href='#about-section' data-link=about) About Us
    a.nav__link(href='#approach-section' data-link=approach) Our Approach
    a.nav__link(href='#work-section' data-link=work) Our Work